<html>
    <head>
        <title>Mini Messaging App</title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <h1><%= title %></h1>

        <% messages.forEach(message => { %>
            <div class="messages">
                <h3><%= message.sendername %></h3>
                <p><%= message.message %></p>
                <p><%= message.timesent %></p>
                <button><a href="/messages/<%= message.id %>">view</a></button>
            </div>
        <% }); %>
        <button><a href="<%= href %>">New Message</a></button>
    </body>
</html>